GATSBY_SHOP_NAME=shop-name
GATSBY_SHOPIFY_ACCESS_TOKEN=token
GATSBY_SHOPIFY_API_VERSION="2019-10"

CONTENTFUL_SPACE_ID=space-id
CONTENTFUL_ACCESS_TOKEN=token
CONTENTFUL_HOST=preview.contentful.com

TYPEKIT_ID=typekit-id

GOOGLE_TRACKING_ID=UA-XXXXXXXX-X
